{% extends "base.html" %} {% load static %} {% block title %}FAQ{% endblock %}
{% block content %}
<h2>Часто задаваемые вопросы (FAQ)</h2>
<div class="faq-container">
  <ol>
    <li>
      <strong>Как создать заявку на техническую поддержку?</strong><br />
      Перейдите в раздел «Оставить заявку», опишите суть вашей проблемы и
      нажмите «Отправить». Ваша заявка будет автоматически зарегистрирована в
      системе.
    </li>
    <li>
      <strong>Сколько времени обрабатывается заявка?</strong><br />
      Среднее время ожидания ответа зависит от сложности вопроса, но как
      правило, первые отклики приходят в течение 1 рабочего дня.
    </li>
    <li>
      <strong>Кто может воспользоваться системой технической поддержки?</strong
      ><br />
      Сервис доступен для всех студентов и сотрудников Московского университета
      имени С.Ю. Витте.
    </li>
    <li>
      <strong
        >Нужно ли создавать новую заявку, если проблема повторяется?</strong
      ><br />
      Да, для каждого нового случая нужно оформлять отдельную заявку, чтобы
      специалисты могли корректно отследить и решить вопрос.
    </li>
    <li>
      <strong>Как узнать, что моя заявка решена?</strong><br />
      После обработки вашей заявки вы получите уведомление по электронной почте.
    </li>
    <li>
      <strong>Что делать, если заявка долго не обрабатывается?</strong><br />
      Если заявка не получает ответа более 3 рабочих дней, вы можете написать
      комментарий к заявке для уточнения или создать новое обращение с пометкой
      «Срочно».
    </li>
    <li>
      <strong>Кто рассматривает заявки?</strong><br />
      Заявки рассматривают сотрудники Департамента электронного обучения и
      сопровождения Московского университета имени С.Ю. Витте.
    </li>
    <li>
      <strong>Можно ли удалить отправленную заявку?</strong><br />
      Удалить заявку самостоятельно нельзя, но вы можете оставить комментарий с
      пометкой «Актуальность утрачена», и она будет закрыта модератором.
    </li>
    <li>
      <strong>Что делать, если сайт технической поддержки недоступен?</strong
      ><br />
      В случае сбоя сервиса, вы можете обратиться по телефону или написать на
      официальный электронный адрес департамента.
    </li>
    <li>
      <strong
        >Можно ли обращаться в службу поддержки по вопросам, не связанным с
        обучением?</strong
      ><br />
      Сервис предназначен только для поддержки по вопросам, связанным с
      использованием образовательной инфраструктуры и ИТ-сервисов университета.
    </li>
    <li>
      <strong>Как понять, что моя заявка была принята в работу?</strong><br />
      После отправки заявки вы получите уведомление на электронную почту.
    </li>
  </ol>
</div>
{% endblock %}
