<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Служба технической поддержки</title>
    <link type="image/x-icon" href="favicon.png" rel="shortcut icon">
    <link type="Image/x-icon" href="favicon.png" rel="icon">
    <link rel="stylesheet" href="styles.css">
    <script defer src="script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="sticky-header">
        <div class="logo">Служба технической поддержки</div>
        <nav>
            <ul class="nav-links">
                <li><a href="http://tech-podderjka64583-site-home.onhh.ru/">Главная</a></li>
                <li><a href="http://tech-podderjka64583-site.onhh.ru/?page_id=137">Текущие заявки</a></li>
                <li><a href="http://tech-podderjka64583-site.onhh.ru/?page_id=98">Сообщения</a></li>
                <li><a href="http://tech-podderjka64583-site.onhh.ru/?page_id=98">Форум</a></li>
                <li><a href="http://tech-podderjka64583-site.onhh.ru/?page_id=26">Отправить заявку</a></li>
                <li><a href="http://tech-podderjka64583-site.onhh.ru/?page_id=137">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-overlay"></div>
        <div class="hero-text">
            <h1>Служба технической поддержки</h1>
            <p>Московский университет имени С.Ю.Витте</p>
            <a href="http://tech-podderjka64583-site.onhh.ru/?page_id=26" class="btn">Оставить запрос</a>
        </div>
    </section>

    <section class="about">
        <p>Слжуба поддержки готова помочь Вам в решении всех вопросов связанных с учебной деятельностью.
             В случае если мы не сможем помочь Вам - мы направим Вас к соответствующему отделу.</p>
    </section>

    <hr>
    <section class="gallery">
        <img src="support-photo.jpg" alt="Техническая поддержка">
        <p>Служба технической поддержки работает на базе Департамента электронного обучения и сопровождения.</p>
    </section>

    <hr>

    <section class="advantages">
        <p>Преимущества нашей системы заключаются в том, что мы готовы помочь Вам по любым вопросам, связанным с учебным процесом в любое время суток!</p>
    </section>

    <div class="btn-block">
        <a href="http://tech-podderjka64583-site.onhh.ru/?page_id=26" class="btn">Оставить запрос</a>
    </div>

    <div class="marquee-container">
        <div class="marquee">Внимание! Все запросы обрабатываются в порядке живой очереди в течении суток!</div>
    </div>

    <footer>
        <p>&copy; 2025 Служба технической поддержки (Студенческая работа)</p>
    </footer>
</body>
</html>
